.container {
  max-width: 600px;
  margin: auto;
  padding: 1em;
}

#kompass {
  margin: 2em auto;
  width: 200px;
  height: 240px;
  text-align: center;
}

#kompass-svg {
  width: 100%;
  height: 200px;
}

#kompassGrad {
  margin-top: 0.5em;
  font-weight: bold;
  font-family: sans-serif;
}
